<sky-demo-page title="Tree View">
  <sky-demo-page-summary>
    <p>
      The tree view component displays data in an expandable/collapsable tree (parent/child) view.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Tree View component properties">
    <sky-demo-page-property propertyName="data">
      The array of data to display in the component.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="disableParents">
      The boolean value which determines if the parent nodes are disabled.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="leafOnlySelection">
      The boolean value which determines if the leaf node is the only vale selectable.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="showControls">
      The boolean value which determines if the action controls are displayed.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="selectable">
      The boolean value which determines if the nodes are selectable (checkboxes are displayed).
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="contentTemplate">
      The TemplateRef value of the content to be displayed for each node.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="dropdownTemplate">
      The TemplateRef value of the dropdown to be displayed for each node.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-tree-view-demo></sky-tree-view-demo>
    <sky-demo-page-code demoName="Tree-View"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
