<sky-contrib-list [data]="items" [defaultView]="custom">
  <sky-contrib-list-toolbar></sky-contrib-list-toolbar>

  <sky-contrib-list-view-grid fit="scroll" #default>
    <sky-contrib-list-view-grid-column field="column1" heading="Column1"></sky-contrib-list-view-grid-column>
    <sky-contrib-list-view-grid-column field="column2" heading="Column2"></sky-contrib-list-view-grid-column>
  </sky-contrib-list-view-grid>

  <sky-contrib-list-view-custom #custom></sky-contrib-list-view-custom>

  <sky-contrib-list-paging pageSize="3"></sky-contrib-list-paging>
</sky-contrib-list>
