# NPM ignore #
.*
skyuxconfig.json
tsconfig.json
tslint.json
/.vscode/
/config/
/coverage/
/demo/
/node_modules/
/scripts/
/src/
/visual/
/webdriver-*
/dist/app/
/dist/locales/
/dist/modules/**/*.spec.ts
/dist/modules/**/*.visual-spec.js
/dist/modules/**/fixtures/
