<ng-content select="sky-contrib-draggable-repeater-item-left"></ng-content>
<div class="sky-contrib-draggable-repeater-item-content vertical-center">
  <div class="sky-contrib-draggable-repeater-item-title">
    <ng-content select="sky-contrib-draggable-repeater-item-title"></ng-content>
    <sky-chevron [direction]="isExpanded ? 'up' : 'down'" (directionChange)="toggle($event)" *ngIf="isExpandable && !showContent"></sky-chevron>
  </div>
  <ng-content select="sky-contrib-draggable-repeater-item-content" *ngIf="!isExpanded || showContent"></ng-content>
</div>
<div class="sky-contrib-draggable-repeater-item-right">
  <div class="sky-contrib-draggable-repeater-item-right-content vertical-center">
    <ng-content select="sky-contrib-draggable-repeater-item-right"></ng-content>
  </div>
  <div class="sky-contrib-draggable-repeater-item-drag-handle vertical-center">
    <i class="fa fa-sort sky-contrib-draggable-repeater-item-drag-handle-icon" aria-hidden="true"></i>
  </div>
</div>
