<div *ngIf="showControls" class="tree-header-bar">
  <a class="sky-btn-link" href (click)="clickExpandAll(); false">Expand all</a>
  <a class="sky-btn-link" href (click)="clickCollapseAll(); false">Collapse all</a>
  <a class="sky-btn-link" *ngIf="selectable" href (click)="clickSelectAll(); false">Select all</a>
  <a class="sky-btn-link" *ngIf="selectable" href (click)="clickClearAll(); false">Clear all</a>
</div>
<ul>
  <li *ngFor="let node of rootNodes | async">
    <div>
      <sky-contrib-tree-view-node [contentTemplate]="contentTemplate" [dropdownTemplate]="dropdownTemplate" [node]="node" [disableParents]="disableParents" [leafOnlySelection]="leafOnlySelection" [selectable]="selectable"></sky-contrib-tree-view-node>
    </div>
  </li>
</ul>
<ng-content></ng-content>
