@import '../../scss/mixins';

:host /deep/ {
  ul {
    list-style: none;
    margin: 0;
    padding: 10px;

    > li {
      padding: 5px 0;

      div {
        position: relative;
      }
    }

    .fa-minus-square-o,
    .fa-plus-square-o {
      cursor: pointer;
      position: absolute;
      left: -18px;
      top: 20%;
    }
  }

  .tree-header-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid $sky-border-color-neutral-light;
    border-bottom: 1px solid $sky-border-color-neutral-light;
    align-items: center;

    a {
      padding-right: 15px;
    }
  }
}
