<sky-demo-page title="Draggable Repeater">
  <sky-demo-page-summary>
    The draggable repeater component displays a draggable list of items.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Draggable repeater component properties">
    <sky-demo-page-property propertyName="dragOnHandle">
      Specify whether the list item will have a handle to drag.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="onItemsReordered">
      Specify the function to call when items have been reordered in the list.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-draggable-repeater-demo></sky-draggable-repeater-demo>
    <sky-demo-page-code demoName="Draggable Repeater"></sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
