<sky-modal>
  <sky-modal-header>
    <sky-contrib-wizard-renderer class="sky-contrib-wizard-header" [template]="headerTemplate || defaultHeaderTemplate"></sky-contrib-wizard-renderer>
  </sky-modal-header>
  <sky-modal-content>
    <sky-contrib-wizard-step-list [steps]="steps" [currentStep]="currentStep" [wizard]="self"></sky-contrib-wizard-step-list>
    <sky-contrib-wizard-renderer class="sky-contrib-wizard-steps" [template]="stepsTemplate || defaultStepsTemplate"></sky-contrib-wizard-renderer>
  </sky-modal-content>
  <sky-modal-footer>
    <div>
      <button type="button" class="btn btn-default footer-btn" [hidden]="currentStep == steps.first" (click)="goToPrevious()">Previous</button>
      <button type="button" class="btn btn-primary footer-btn" [disabled]="currentStep && !currentStep.validator(model)" (click)="goToNext()" [hidden]="currentStep == steps.last">Next</button>
      <button type="button" class="btn btn-primary footer-btn" [disabled]="!isValid()" [hidden]="visitedSteps.length != steps.length" (click)="saveAndClose()">Save and Close</button>
      <button type="button" class="btn btn-link footer-btn" (click)="modal.closeButtonClick()">Cancel</button>
    </div>
    <sky-contrib-wizard-renderer [template]="footerTemplate || defaultFooterTemplate"></sky-contrib-wizard-renderer>
  </sky-modal-footer>
</sky-modal>

<ng-template #defaultHeaderTemplate></ng-template>
<ng-template #defaultStepsTemplate></ng-template>
<ng-template #defaultFooterTemplate></ng-template>
