@import '../../scss/variables';

:host /deep/ {
  sky-contrib-wizard-step {
    display: none;

    &.active {
      display: block;
    }
  }

  .sky-contrib-wizard-header,
  .sky-contrib-wizard-header h1 {
    width: 80%;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    font-size: 14px;
    font-family: $sky-font-family-base;
    font-weight: 600;
  }

  button[disabled] {
    color: #cacaca;
    pointer-events: none;
    opacity: 0.65;
  }

  button[hidden] {
    display: none;
  }
}
