<div>
    <i *ngIf="hasChildren(node.id) | async " class="fa" [ngClass]="node.expanded ? 'fa-minus-square-o' : 'fa-plus-square-o'" (click)="toggleExpanded(node)" [ngClass]="(enabled | async) ? '' : 'disabled'"></i>
  <sky-contrib-tree-view-renderer [item]="node" [template]="dropdownTemplate"></sky-contrib-tree-view-renderer>
  <sky-checkbox *ngIf="isSelectable" [checked]="node.selected" [disabled]="!(enabled | async)" (change)="toggleSelected($event)">
    <sky-checkbox-label>
      <sky-contrib-tree-view-renderer [item]="node" [template]="contentTemplate || defaultContent"></sky-contrib-tree-view-renderer>
    </sky-checkbox-label>
  </sky-checkbox>
  <span *ngIf="!isSelectable">
    <sky-contrib-tree-view-renderer [item]="node" [template]="contentTemplate || defaultContent"></sky-contrib-tree-view-renderer>
  </span>
</div>
<ul *ngIf="hasChildren(node.id) | async " [hidden]="!node.expanded" class="sub-item">
  <li *ngFor="let nodeChildren of getChildren(node.id) | async">
    <sky-contrib-tree-view-node [contentTemplate]="contentTemplate" [dropdownTemplate]="dropdownTemplate" [node]="nodeChildren" [disableParents]="disableParents" [leafOnlySelection]="leafOnlySelection" [selectable]="selectable"></sky-contrib-tree-view-node>
  </li>
</ul>

<ng-template #defaultContent let-item="item">{{ item.name }}</ng-template>
