<div>
    <i *ngIf="node.children && node.children.length > 0" class="fa" [ngClass]="node.isExpanded ? 'fa-minus-square-o' : 'fa-plus-square-o'" (click)="toggleExpanded(node)" [ngClass]="enabled ? '' : 'disabled'"></i>
  <sky-contrib-tree-view-renderer [item]="node" [template]="dropdownTemplate"></sky-contrib-tree-view-renderer>
  <sky-checkbox *ngIf="isSelectable" [checked]="node.isSelected" [disabled]="!enabled" (change)="toggleSelected($event)">
    <sky-checkbox-label>
      <sky-contrib-tree-view-renderer [item]="node" [template]="contentTemplate || defaultContent"></sky-contrib-tree-view-renderer>
    </sky-checkbox-label>
  </sky-checkbox>
  <span *ngIf="!isSelectable">
    <sky-contrib-tree-view-renderer [item]="node" [template]="contentTemplate || defaultContent"></sky-contrib-tree-view-renderer>
  </span>
</div>
<ul *ngIf="node.children && node.children.length > 0" [hidden]="!node.isExpanded" class="sub-item">
  <li *ngFor="let nodeChildren of node.children">
    <sky-contrib-tree-view-node [contentTemplate]="contentTemplate" [dropdownTemplate]="dropdownTemplate" [node]="nodeChildren" [disableParents]="disableParents" [leafOnlySelection]="leafOnlySelection" [selectable]="selectable"></sky-contrib-tree-view-node>
  </li>
</ul>

<template #defaultContent let-item="item">{{ item.name }}</template>
