<sky-contrib-list [data]="items" [defaultView]="grid">
  <sky-contrib-list-toolbar></sky-contrib-list-toolbar>

  <sky-contrib-list-view-grid fit="scroll" #grid>
    <sky-contrib-list-view-grid-column field="column1" heading="Column1"></sky-contrib-list-view-grid-column>
    <sky-contrib-list-view-grid-column field="column2" heading="Column2"></sky-contrib-list-view-grid-column>
  </sky-contrib-list-view-grid>

  <sky-contrib-list-view-repeater>
    <sky-contrib-list-view-repeater-title>
      <ng-template let-row="row">{{row.column1}}</ng-template>
    </sky-contrib-list-view-repeater-title>
    <sky-contrib-list-view-repeater-description>
      <ng-template let-row="row">{{row.column2}}</ng-template>
    </sky-contrib-list-view-repeater-description>
    <sky-contrib-list-view-repeater-content>
      <ng-template let-row="row">{{row.column3}}</ng-template>
    </sky-contrib-list-view-repeater-content>
  </sky-contrib-list-view-repeater>

  <sky-contrib-list-view-checklist label="column2" description="column3" category="column1"></sky-contrib-list-view-checklist>

  <sky-contrib-list-paging pageSize="5"></sky-contrib-list-paging>
</sky-contrib-list>
