@import '../../scss/variables';

:host {
  .search {
    font-family: $sky-font-family-base;

    > .searchContainer > input.searchbox:focus {
      box-shadow: none;

      & + .searchButton {
        box-shadow: none;
      }
    }
  }

  .desktop, .mobile {
    > div {
      z-index: 1039;
    }
  }
}
