<sky-demo-page title="List View Grid">
  <sky-demo-page-summary>
    This list view grid component displays a SKY UX-themed grid of data. It includes
    the ability to defined a custom search function for the data given. Ideally it is used in
    conjunction with the list component.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="List View Grid Properties">
    <sky-demo-page-property
        propertyName="name"
        defaultValue=""
        isOptional="false"
    >
      Specifies the name of the view.
      Acceptable values: <code>string</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="hiddenColumns"
        defaultValue=""
        isOptional="true"
    >
      Specifies the columns to be hidden by default. Will match off of the id or field of the item.
      Acceptable values: <code>Array of strings or Observable Array of strings</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="displayedColumns"
        defaultValue=""
        isOptional="true"
    >
      Specifies columns to be displayed by default. Will match off of the id or field of the item.
      Acceptable values: <code>Array of strings or Observable Array of strings</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="fit"
        defaultValue="width"
        isOptional="true"
    >
      Specifies how the gird should fit to its parent.
      Acceptable values: <code>'width' or 'scroll'</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="height"
        defaultValue="category"
        isOptional="true"
    >
      Specifies the height of the grid.
      Acceptable values: <code>number or Observable number</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="width"
        defaultValue="category"
        isOptional="true"
    >
      Specifies the width of the grid.
      Acceptable values: <code>number or Observable number</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="search"
        defaultValue=""
        isOptional="true"
    >
      Specify a search function to apply on the view data.
      Acceptable value: <code>(data: any, searchText: string) => boolean</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="selectionEnabled"
        defaultValue=""
        isOptional="true"
    >
      Specify if the grid will have a static selector column with checkboxes.
      Acceptable value: <code>boolean or Observable boolean</code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Column Properties">
    <sky-demo-page-property
        propertyName="id"
        defaultValue=""
    >
      Specify a unique identifier for the column. Is required if <code>field</code> is not specified.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="field"
        defaultValue=""
    >
      Specify rows to render for a given column from <code>data</code> passed into parent component. The specified <code>field</code> must match the attribute of the <code>item</code> in the <code>data</code> array. For example, given a data array of items: <code>[{{ '{' }} id: 1, column1: apples {{ '}' }}, {{ '{' }} id:2, column1: bananas {{ '}' }}]</code>, specify column1 as the <code>field</code> to map all items as rows to the designated column. Fields also enable the column to be sortable, searchable, and selectable to be displayed or hidden. Is required if <code>id</code> is not specified.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="heading"
        defaultValue=""
        isOptional="true"
    >
      Display text for the column header.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="search"
        defaultValue=""
        isOptional="true"
    >
      Specify a search function for a given column. By default a string comparison search function is applied on the column data.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="width"
        defaultValue=""
        isOptional="true"
    >
      Specify a column width.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="locked"
        defaultValue=""
        isOptional="true"
        defaultValue="false"
    >
      Boolean determines if the column is draggable.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="hidden"
        defaultValue=""
        isOptional="true"
        defaultValue="false"
    >
      Boolean determines if the column is hidden.
    </sky-demo-page-property>
        <sky-demo-page-property
        propertyName="template"
        defaultValue=""
        isOptional="true"
    >
      Specify HTML template to render for each row for a given column.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-contrib-list-view-grid-demo></sky-contrib-list-view-grid-demo>
    <sky-demo-page-code demoName="List View Grid"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
