<sky-contrib-list [data]="items" [defaultView]="grid">
  <sky-contrib-list-toolbar></sky-contrib-list-toolbar>

  <sky-contrib-list-view-grid fit="scroll" #grid>
    <sky-contrib-list-view-grid-column field="column1" heading="Column1"></sky-contrib-list-view-grid-column>
    <sky-contrib-list-view-grid-column field="column2" heading="Column2"></sky-contrib-list-view-grid-column>
    <sky-contrib-list-view-grid-column field="column3" heading="Column3"></sky-contrib-list-view-grid-column>
  </sky-contrib-list-view-grid>
</sky-contrib-list>
