<ng-content></ng-content>

<div class="sky-contrib-list-filters-inline-bar" *ngIf="(inlineFilters | async).length > 0 && inlineBarExpanded">
  <span *ngFor="let filter of inlineFilters | async">
    <sky-contrib-list-filter-renderer [template]="filter.template" [filter]="filter.filterModel"></sky-contrib-list-filter-renderer>
  </span>
  <button *ngIf="(modalFilters | async).length > 0" (click)="openFiltersModal()" cmp-id="filter-show-more">Show more</button>
</div>

<div class="sky-contrib-list-filters-modal-active" *ngIf="(activeModalFilters | async).length > 0">
  <span class="filter-label">Filter:</span>
  <span class="filter-button" *ngFor="let filter of activeModalFilters | async">
    <span (click)="openFiltersModal()"><span *ngIf="filter.label">{{ filter.label }}: </span>{{ filter.filterModel.displayValue }}</span> <i class="fa fa-times close ng-scope" (click)="clearFilter(filter.filterModel.id); false"></i>
  </span>
</div>

<ng-template #filterButton>
  <button (click)="filterButtonClick()" [class.filtered]="filtered | async" cmp-id="filter" title="Filter">
    <i class="fa fa-lg fa-filter"></i>
  </button>
</ng-template>
