<sky-demo-nav></sky-demo-nav>
<div class="sky-container">
  <h1>Microedge SKY UX Contrib Library</h1>

  <p>A holding place for Microedge SKY UX components that are yet contributed to the main SKY UX repository.</p>

  <p>SKY UX is a new version of Blackbaud's user experience framework. The UX framework brings a consistent, cohesive experience to our products and allows third-party developers to provide the same consistent experience in their customizations and applications. SKY UX takes advantage of <a href="https://angular.io/">Angular</a> to keep SKY UX modern while increasing the tooling, testing, and performance available.</p>
</div>
