@import '../../scss/variables';

:host /deep/ {
  sky-contrib-wizard-step {
    display: none;

    &.active {
      display: block;
    }
  }

  .sky-contrib-wizard-header,
  .sky-contrib-wizard-header h1 {
    width: 80%;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    font-size: $sky-font-size-base;
    font-family: $sky-font-family;
    font-weight: 600;
  }

  .sky-modal-footer-container {
    display: flex;
    align-items: center;

    > div:first-child {
      padding-right: 15px;
    }
  }

  button[hidden] {
    display: none;
  }
}
