<sky-modal>
  <sky-modal-header>
    <sky-contrib-wizard-renderer class="sky-contrib-wizard-header" [template]="headerTemplate || defaultHeaderTemplate"></sky-contrib-wizard-renderer>
  </sky-modal-header>
  <sky-modal-content>
    <sky-contrib-wizard-step-list [steps]="steps" [currentStep]="currentStep" [wizard]="self"></sky-contrib-wizard-step-list>
    <sky-contrib-wizard-renderer class="sky-contrib-wizard-steps" [template]="stepsTemplate || defaultStepsTemplate"></sky-contrib-wizard-renderer>
  </sky-modal-content>
  <sky-modal-footer>
    <div>
      <button type="button" class="sky-btn sky-btn-default footer-btn" *ngIf="currentStep != steps.first" (click)="goToPrevious()">Previous</button>
      <button type="button" class="sky-btn sky-btn-default footer-btn" [class.sky-btn-disabled]="currentStep && !currentStep.validator(model)" [disabled]="currentStep && !currentStep.validator(model)" (click)="goToNext()" *ngIf="currentStep != steps.last">Next</button>
      <button type="button" class="sky-btn sky-btn-default footer-btn" [class.sky-btn-disabled]="!isValid()" [disabled]="!isValid()" *ngIf="visitedSteps.length == steps.length" (click)="saveAndClose()">Save and close</button>
      <button type="button" class="sky-btn sky-btn-link footer-btn" (click)="modalInstance.close()">Cancel</button>
    </div>
    <sky-contrib-wizard-renderer [template]="footerTemplate || defaultFooterTemplate"></sky-contrib-wizard-renderer>
  </sky-modal-footer>
</sky-modal>

<ng-template #defaultHeaderTemplate></ng-template>
<ng-template #defaultStepsTemplate></ng-template>
<ng-template #defaultFooterTemplate></ng-template>
