<div *ngIf="active | async" [style.height.px]="height | async" [style.width.px]="width | async">
  <table *ngIf="!(loading | async)" [ngClass]="{ 'no-top-border': (hasToolbar | async), fit: fit !== 'scroll' }">
    <thead>
      <tr dragula="heading">
        <th *ngIf="selectionEnabled | async" class="heading locked" [style.width.px]="100" [attr.cmp-id]="'select-header'">
          <sky-checkbox [checked]="isAllDisplayedSelected() | async" (change)="toggleSelectAllDisplayed($event)"></sky-checkbox>
        </th>
        <th class="heading" *ngFor="let column of columns | async; let last = last" (click)="sortByColumn(column)" [style.width.px]="last ? null : column.width" [attr.cmp-id]="column.id || column.field" [ngClass]="{ locked: column.locked }">
          <sky-contrib-list-view-grid-renderer [template]="column.headingTemplate || defaultHeadingTemplate" [item]="column"></sky-contrib-list-view-grid-renderer>
          <i class="fa" [hidden]="!(getSortDirection(column.field) | async)" [ngClass]="{ 'fa-caret-up': (getSortDirection(column.field) | async) === 'asc', 'fa-caret-down': (getSortDirection(column.field) | async) === 'desc' }"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="sky-contrib-list-view-grid-row" *ngFor="let item of items | async" [attr.cmp-id]="item.id">
        <sky-contrib-list-view-grid-cell *ngIf="selectionEnabled | async" [template]="selectTemplate" [item]="item" [isSelected]="isSelected(item.id) | async" [attr.cmp-id]="'select-' + item.id" columnId="select-column" [style.width.px]="100"></sky-contrib-list-view-grid-cell>
        <td *ngFor="let column of columns | async; let last = last; let i = index">
          <sky-contrib-list-view-grid-cell [template]="column.template || defaultCellTemplate" [fieldSelector]="column.field" [item]="item" [columnId]="column.id" [attr.cmp-id]="column.id || column.field" [style.width.px]="last ? null : column.width"></sky-contrib-list-view-grid-cell>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="loading" *ngIf="loading | async">
    <sky-wait [isWaiting]="true"></sky-wait>
  </div>
</div>

<ng-template #defaultCellTemplate let-row="row" let-value="value">{{value}}</ng-template>
<ng-template #selectTemplate let-item="item" let-selected="isSelected"><sky-checkbox id="{{item.id}}" class="select-checkbox" [checked]="selected" (change)="toggleSelected($event, item)"></sky-checkbox></ng-template>
<ng-template #chooseColumnsTemplate>
  <button (click)="openColumnSelector()" title="Choose Columns">
    <span class="fa fa-lg fa-columns"></span>
  </button>
</ng-template>
<ng-template #defaultHeadingTemplate let-heading="item.heading">
  {{ heading }}
</ng-template>
