<sky-modal>
  <sky-modal-header>
    Choose columns to show in the list
  </sky-modal-header>
  <sky-modal-content>
    <sky-contrib-list #list [data]="columns" [initialSelectedItems]="displayedColumns | async">
      <sky-contrib-list-toolbar [filterEnabled]="false" type="search" placeholder="Search for columns"></sky-contrib-list-toolbar>

      <sky-contrib-list-view-checklist label="heading">
      </sky-contrib-list-view-checklist>
    </sky-contrib-list>
  </sky-modal-content>
  <sky-modal-footer>
    <button cmp-id="apply-changes" class="primary" (click)="applyChanges()">Apply changes</button>
    <button cmp-id="cancel" class="link" (click)="modal.closeButtonClick()">Cancel</button>
  </sky-modal-footer>
</sky-modal>
