@import '../../scss/variables';

:host /deep/ {
  border-bottom: 1px solid $sky-color-border-gray;
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  padding: 10px;

  p {
    margin: 0;
  }

  .sky-contrib-list-repeater-item-left {
    flex-grow: 0;
    margin: 0 10px 0 0;
  }

  .sky-contrib-list-repeater-item-title-area {
    flex-grow: 1;
    flex-basis: 80%;
  }

  .sky-contrib-list-repeater-item-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .sky-contrib-list-repeater-item-right {
    flex-grow: 0;
    margin: 0 0 0 10px;
  }

  .sky-contrib-list-repeater-item-content {
    display: block;
    flex-basis: 100%;
  }

  .sky-contrib-list-repeater-item-editor {
    display: block;
    flex-basis: 100%;
  }

  .sky-chevron {
    cursor: pointer;
  }
}
