<ul>
  <li>
    <a href (click)="previousPage(); false" class="fa fa-caret-left sky-paging-caret" [ngClass]="{ disabled: (pageNumber | async) == 1 }"></a>
  </li>
  <li *ngFor="let page of (pageItems | async)">
    <a href (click)="setPage(page.pageNumber); false" [ngClass]="{ current: (pageNumber | async) == page.pageNumber }">{{page.label}}</a>
  </li>
  <li>
    <a href (click)="nextPage(); false" class="fa fa-caret-right sky-paging-caret" [ngClass]="{ disabled: (isLastPage | async) }"></a>
  </li>
</ul>
