<div *ngIf="active | async">
  <div *ngIf="!(loading | async)">
    <sky-contrib-list-view-checklist-item *ngFor="let item of items | async" [item]="item" [attr.cmp-id]="item.id">
      <sky-checkbox [checked]="itemSelected(item.id) | async" (change)="setItemSelection(item, $event)">
        <sky-checkbox-label>
          <strong *ngIf="item.label">{{item.label}}</strong>
          <div *ngIf="item.description">{{item.description}}</div>
        </sky-checkbox-label>
      </sky-checkbox>
    </sky-contrib-list-view-checklist-item>
  </div>
  <div class="loading" *ngIf="loading | async">
    <sky-contrib-spinner></sky-contrib-spinner>
  </div>
</div>

<ng-template #selectAllTemplate><a href (click)="selectAll(); false">Select all</a></ng-template>
<ng-template #clearSelectionsTemplate><a href (click)="clearSelections(); false">Clear all</a></ng-template>
