<sky-demo-page title="Vertical Tabbar">
  <sky-demo-page-summary>
    <p>
      The vertical tabbar component displays a vertical tabbar to select multiple content sections.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Vertical Tabbar Item component properties">
    <sky-demo-page-property propertyName="title">
      The title of the vertical tab item.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="active">
      The boolean value which determines if the item is active or not.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="disabled">
      The boolean value which determines if the item is disabled or not.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-vertical-tabbar-demo></sky-vertical-tabbar-demo>
    <sky-demo-page-code demoName="Vertical-Tabbar"></sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
