@import '../../scss/variables';

:host {
  /deep/ sky-modal-header {
    font-weight: 600;
  }

  /deep/ sky-modal-footer button {
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: $sky-font-size-md;
    background-color: transparent;
    margin-right: 10px;

    &.primary {
      background-color: #1c84c6;
      color: #fff;
    }

    &.link {
      color: #1c84c6;
    }
  }

  button[disabled] {
    color: #cacaca;
    pointer-events: none;
    opacity: 0.65;
  }

  .filter {
    padding-bottom: 20px;
  }
}
