<sky-modal>
  <sky-modal-header>{{ title }}</sky-modal-header>
  <sky-modal-content>
    <div class="sky-contrib-list-filters-modal-bar">
      <div *ngFor="let filter of modalFilters" class="filter">
        <sky-contrib-list-filter-renderer [template]="filter.template" [filter]="filter.filterModel"></sky-contrib-list-filter-renderer>
      </div>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button cmp-id="apply-filters" class="sky-btn sky-btn-primary" (click)="applyFilters()" [class.sky-btn-disabled]="!isValid()" [disabled]="!isValid()">Apply filters</button>
    <button cmp-id="clear-filters" class="sky-btn sky-btn-link" (click)="clearFilters()">Clear all filters</button>
    <button cmp-id="cancel" class="sky-btn sky-btn-link" (click)="modal.closeButtonClick()">Cancel</button>
  </sky-modal-footer>
</sky-modal>
