// Import from @blackbaud/skyux (using copied file until scss part of npm package)
@import "./skyux/forms";

// Custom contrib styles
@mixin sky-field-disabled {
  border-right: 1px solid $sky-color-gray-05 !important;
  background-color: $sky-color-gray-01 !important;
  color: $sky-button-primary-color-disabled;
  pointer-events: none;
  opacity: 0.65;
}
