// Import from @blackbaud/skyux (using copied file until scss part of npm package)
@import "./skyux/variables";

// Custom contrib styles
$sky-font-size-xxl: floor(($sky-font-size-base * 2.286)) !default; // ~32px
$sky-font-size-xl: floor(($sky-font-size-base * 1.72)) !default; // ~24px
$sky-font-size-lg: floor(($sky-font-size-base * 1.357)) !default; // ~20px
$sky-font-size-md: floor(($sky-font-size-base * 0.92)) !default; // ~13px
$sky-font-size-sm: floor(($sky-font-size-base * 0.714)) !default; // ~10px

$sky-button-primary-color-disabled: $sky-color-gray-20;
$sky-button-secondary-border: $sky-color-gray-05;
$sky-button-secondary-border-active: $sky-color-gray-10;
$sky-button-link-color: $sky-color-blue-50;
$sky-button-link-color-active: $sky-color-blue-70;

$sky-search-bar-outline-color: $sky-color-blue-70;

$sky-form-color: $sky-color-gray-80;
$sky-form-color-active: $sky-color-blue-50;
$sky-form-error-border-color: $sky-color-red-30;
$sky-form-error-shadow-color: $sky-background-color-danger-dark;
$sky-form-error-color: $sky-highlight-color-danger;
