// Import from @blackbaud/skyux (using copied file until scss part of npm package)
@import "./skyux/variables";

// Custom contrib styles
$sky-font-size-xxl: 32px !default;
$sky-font-size-xl: 24px !default;
$sky-font-size-lg: 20px !default;
$sky-font-size-md: 13px !default;
$sky-font-size-sm: 10px !default;

$sky-button-primary-color-disabled: $sky-color-gray-20;
$sky-button-secondary-border: $sky-color-gray-05;
$sky-button-secondary-border-active: $sky-color-gray-10;
$sky-button-link-color: $sky-color-blue-50;
$sky-button-link-color-active: $sky-color-blue-70;

$sky-search-bar-outline-color: $sky-color-blue-70;

$sky-form-color: $sky-color-gray-80;
$sky-form-color-active: $sky-color-blue-50;
$sky-form-error-border-color: $sky-color-red-30;
$sky-form-error-shadow-color: $sky-background-color-danger-dark;
$sky-form-error-color: $sky-highlight-color-danger;
