<sky-demo-page title="Locale Currency Mask">
  <sky-demo-page-summary>
    <p>
      The locale currency mask directive masks form inputs to display currency propperly for a given locale.
    </p>
  </sky-demo-page-summary>
  <sky-demo-page-properties sectionHeading="Locale Currency Mask directive properties">
    <sky-demo-page-property propertyName="locale">
      The string value which determines what locale the input should use (ex: 'en-US').
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="currency">
      The string value which determines what currency the input should use (ex: 'USD').
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="align">
      The boolean value which determines which side the currency symbol should located.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="allowNegative">
      The boolean value which determines negative values are allowed.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-locale-currency-mask-demo></sky-locale-currency-mask-demo>
    <sky-demo-page-code demoName="Locale-Currency-Mask"></sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
