@import '../../scss/variables';
@import '../../scss/buttons';
@import '../../scss/mixins';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 710px;

  .link-records-item-info {
    font-family: $sky-font-family-base-semibold;
    font-size: $sky-font-size-lg;
    text-align: center;
  }

  .link-records-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin: 10px 0 40px;
  }

  .link-records-item-original,
  .link-records-item-match {
    background-color: $sky-color-white;
    border: 1px solid $sky-border-color;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 350px;
    @include sky-shadow();

    .link-records-item-content {
      flex-grow: 1;
      font-size: $sky-font-me-size-md;
      padding: 10px 20px 10px 25px;
    }

    .link-records-item-header,
    .link-records-item-footer {
      display: flex;
      flex-direction: row;
      min-height: 44px;

    }

    .link-records-item-header {
      border-bottom: 1px solid $sky-border-color;
      font-family: $sky-font-family-narrow-light;
      font-size: 22px;
      font-weight: 200;
      padding: 10px 20px 10px 25px;
    }

    .link-records-item-footer {
      border-top: 1px solid $sky-border-color;
      padding: 5px 20px 5px 25px;
    }
  }

  .link-records-item-status {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;

    &-content {
      background-color: $sky-color-white;
      border-radius: 22px;
      border: 1px solid $sky-border-color;
      height: 45px;
      margin: -18px;
      text-align: center;
      width: 45px;
      z-index: 1;

      i {
        color: $sky-color-green;
        font-size: 29px;
        margin: 7px 0 0;

        &.fa-question-circle {
          color: $sky-color-black;
        }
      }
    }
  }

  @media(max-width: $sky-screen-sm-min) {
    width: 350px;

    .link-records-item {
      flex-direction: column;
    }
  }
}
