<h1>Default link records</h1>
<sky-contrib-link-records [items]="items" [matches]="matches"></sky-contrib-link-records>

<h1>Link records child templates</h1>
<sky-contrib-link-records [items]="items" [matches]="matches">
  <sky-contrib-link-records-item-title>
    <template let-item="item">Applicant</template>
  </sky-contrib-link-records-item-title>
  <sky-contrib-link-records-item-content>
    <template let-item="item" >
      <div>Original Item</div>
      <div>{{ item?.id }} {{ item?.name }}</div>
    </template>
  </sky-contrib-link-records-item-content>
  <sky-contrib-link-records-match-content>
    <template let-match="match">
      <div>Match Item</div>
      <div>{{ match?.item?.id }} {{ match?.item?.name }}</div>
    </template>
  </sky-contrib-link-records-match-content>
</sky-contrib-link-records>

<h1>Link Records with templates</h1>
<sky-contrib-link-records [items]="items" [matches]="matches" [itemTemplate]="item" [matchTemplate]="match"></sky-contrib-link-records>

<template #itemTitle let-item="item">Custom Title</template>
<template #item let-item="item">{{ item?.name }}</template>
<template #match let-match="match">Custom Label: {{ match?.item?.name }}</template>

