:host {

  .loading {
    height: 200px;
    position: relative;
  }

  /deep/ .sky-checkbox-wrapper {
    display: flex;
    align-items: center;

    > .sky-checkbox, > input {
      flex: 1;
      max-width: 22px;
    }
  }
}
