@import '../../scss/mixins';

:host /deep/ {
  .sky-modal {
    width: 600px;
    word-wrap: break-word;
  }

  .sky-modal-header {
    font-weight: bold;
  }

  .sky-modal-footer {
    button {
      @include sky-button-primary;
    }
  }
}
